<div class="layout scrollbar">
  <md-list>
    <h3 md-subheader>一般</h3>
    <button md-button>
      <md-list-item>
        <i class="fa fa-address-book-o fa-fw" md-list-icon></i>
        <h4 md-line>通 訊 錄</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
         <i class="fa fa-calendar fa-fw" md-list-icon></i>
        <h4 md-line>行 事 曆</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-envelope-o fa-fw" md-list-icon></i>
        <h4 md-line>郵件 / 訊息</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-folder-open-o fa-fw" md-list-icon></i>
        <h4 md-line>檔案管理</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-bed fa-fw" md-list-icon></i>
        <h4 md-line>休假 / 出差</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-credit-card fa-fw" md-list-icon></i>
        <h4 md-line>差旅報支</h4>
      </md-list-item>
    </button>
    <md-divider></md-divider>
    <h3 md-subheader>管理</h3>
    <button md-button>
      <md-list-item>
        <i class="fa fa-newspaper-o fa-fw" md-list-icon></i>
        <h4 md-line>公 告</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-sitemap fa-fw" md-list-icon></i>
        <h4 md-line>組 織 圖</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-check fa-fw" md-list-icon></i>
        <h4 md-line>簽 核</h4>
      </md-list-item>
    </button>
    <md-divider></md-divider>
    <h3 md-subheader>營運</h3>
    <button md-button>
      <md-list-item>
        <i class="fa fa-tachometer fa-fw" md-list-icon></i>
        <h4 md-line>儀 表 板</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-bar-chart fa-fw" md-list-icon></i>
        <h4 md-line>報 表</h4>
      </md-list-item>
    </button>
    <md-divider></md-divider>
    <h3 md-subheader>業務</h3>
    <button md-button>
      <md-list-item>
        <i class="fa fa-id-card-o fa-fw" md-list-icon></i>
        <h4 md-line>客戶關係</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-pencil-square-o fa-fw" md-list-icon></i>
        <h4 md-line>估價 / BOM</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-usd fa-fw" md-list-icon></i>
        <h4 md-line>報 價 單</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-handshake-o fa-fw" md-list-icon></i>
        <h4 md-line>訂 單</h4>
      </md-list-item>
    </button>
    <md-divider></md-divider>
    <h3 md-subheader>會計</h3>
    <button md-button>
      <md-list-item>
        <i class="fa fa-shopping-cart fa-fw" md-list-icon></i>
        <h4 md-line>採 購 單</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-money fa-fw" md-list-icon></i>
        <h4 md-line>請 款 單</h4>
      </md-list-item>
    </button>
    <md-divider></md-divider>
    <h3 md-subheader>倉儲</h3>
    <button md-button>
      <md-list-item>
        <i class="fa fa-university  fa-fw" md-list-icon></i>
        <h4 md-line>庫存 / 盤點</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-cubes fa-fw" md-list-icon></i>
        <h4 md-line>進 貨</h4>
      </md-list-item>
    </button>
    <button md-button>
      <md-list-item>
        <i class="fa fa-truck fa-fw" md-list-icon></i>
        <h4 md-line>出 貨</h4>
      </md-list-item>
    </button>
  </md-list>
</div>
